@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
    font-family: 'Poppins', 'Arial', 'san-serif';
    scroll-behavior: smooth;
}
p,span,div{
    line-height: 150%;
}
h1, h2, h3, h4{
    font-family: 'Mulish', 'Arial', 'san-serif';
}
a:hover{
    text-decoration: none;
    color: #fff;
}

.a2:hover{
    text-decoration: none;
    color: #000;
}

.list-group-item a{
    color: #0b0c10;
}
#goup{
    bottom: 0;
    right: 0;
}

.bi{
    text-decoration:none;
    color: #888888
}

/* NAVIGATION BAR */

.navbar-brand{
    font-family: 'Mulish', 'Arial', 'san-serif';
}

#myHeader{
    background-color:#0b0c10;
}

.link-effect::after{
    content:'';
    display: block;
    width: 0%;
    height: 2px;
    background-color: #66fcf1;
    transition: width .3s;
}

.link-effect:hover::after{
    width: 100%;
    transition: width .3s;
}

#landHeader{
    padding: 30vh 0;
}
/* VIDEO HEADER */

#myVideo{
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

#myTitle{
    font-size: 6vw;
    position: relative;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}


.btnLink{
    border: 1px solid rgb(139, 139, 139);
    display: inline-block;
    padding: 5px;
    position: relative;
}

.dropdown{
    padding:7px;
}

.myBtn{
    padding: 10px;
    background: linear-gradient(110deg,  #111 50%, #116466 50%);
    min-width: 200px;
    padding: 10px;
    border-radius: 0%;
    position: relative;
}

.myBtn2{
    padding: 10px;
    background: linear-gradient(110deg,rgb(32, 32, 32) 50%,  #116466 50%);
    font-family: 'Mulish', 'Arial', 'san serif';
    min-width: 150px;
    border-radius: 0%;
    border: none;
}


.myBtn::after, .myBtn2::after{
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(110deg,#111 50%,  #116466 50%);
    z-index: -1;
}

.myBtn, .myBtn::after, .myBtn2, .myBtn2::after{
    background-size: 300%;
    background-position: 100%;
    transition: 1s;
}

.myBtn:hover, .myBtn:hover::after, .myBtn2:hover, .myBtn2:hover::after{
    background-position: 0; 
}

#landText{
    line-height: 20%;
}

/* #text-typing p{
    white-space: nowrap;
    overflow: hidden;
    animation: typing 4s steps(22, end) forwards;
}

@keyframes typing{
    0% { width: 0%;}
    100% {width: 100%;}
} */

#right-triangle{
    width: 0;
	height: 0;
	border-top: 30px solid transparent;
	border-left: 30px solid #fff;
    border-bottom: 0px solid transparent;
    bottom:0;
    position: absolute;
}

.dev{
    background-image: linear-gradient(to right, #45a29e , rgba(255, 255, 255, 0.007));
}


/* INTRO IN C */

#whatTitle{
    font-size: 4vw;
    font-weight: bold;
}

#what, #why, #career{
    padding:5%;
}

#career{
    padding-bottom: 10%;
}

/* GETTING STARTED */

.wrapper{
    min-height: 100vh;
    line-height: 150%;
}
.header{
    background-color: #0b0c10;
}
.sidebar{
    background-color: #1f2833;
    overflow: auto;
}

#contents{
    min-height: 100vh;
    margin-bottom: 100px;
}

code{
    white-space: pre-wrap;
    background-color: #f5f2f0;
    color: #07a;
    font-family: "Lucida Console", Monaco, monospace;
}

.codeblock{
    background-color: #f5f2f0;
}

.panel{
    background:unset;
}

/* ABOUT */

#about-img{
    width: 450px;
}
.card{
    transition: box-shadow .3s ease-in-out;
}
.card:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

/* FOOTER */

.footer{
    background-color:#0b0c10;
    position: absolute;
    bottom: 0;
}

.footer .name{
    letter-spacing: 15px;
}

.active{
    color: #66fcf1;
}

.active2{
    color: #45a29e;
}

/* MEDIA SCREEN */
@media only screen and (max-width: 540px) {
    #myTitle{
        font-size: 3rem;
    }
    #whatTitle{
        font-size: 2rem;
    }

    .myBtn2{
        margin: 20px 0;
        text-align: center;
    }

    #about-img{
        width: 100%;
    }
}